body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

section {
  background-color: white;
}

.hero {
  background-color: #1c1d25;
  color: white;
  font-size: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
  margin-top: -50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-evenly;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 240px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #A9A9A9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.logo {
  margin-left: 20px;
  margin-top: 20px;
  height: 100px;
  width: 100px;
}

.logo1 {
  margin-top: 100px;
}

.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  background-color: #B2B2B2;
}

.headshot {
  width: 300px;
  border-radius: 50px;
  margin-left: 80px;

}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 280px;
  height: 450px;
  border-radius: 50px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 20px;
  padding: 10px;
  background-color: aliceblue;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
}

.tech-container {
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.skills-content {
  padding: 80px;
}

.tech-icons {
  width: 100%;
}

.learning-content {
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.text-udemy{
margin-bottom: 50px;
}

.learning-img {
 width: 100%;
 margin: auto;

}

@media only screen and (max-width: 1200px) {
  .project-container {
      display: flex;
      flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 250px;
  height: 150px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus{
  outline: 0;
}


@media only screen and (max-width: 1200px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 40px;
    margin: 20px;
    align-self: flex-end;
  }

  body {
    width: 100%;
  }

  ul {
    display: none;
    background-color: #1c1d25;
    margin: 0px;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #1c1d25;
  }

  .logo {
    display: none;
  }
}
